{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "screens": "./src/screens",
          "config": "./src/config",
          "styles": "./src/config/styles",
          "images": "./src/assets/images",
          "providers": "./src/providers"
        },
        "extensions": [".js"]
      }
    ]
  ]
}
